<%- include('./components/header') -%>
<link rel="stylesheet" type="text/css" href="/stylesheets/homePage.css">
<%- include('./components/menu') -%>
<%- include('./components/brand') -%>
<%- include('./components/hotPoint',{hotPoint:hotPoint}) -%>
<%- include('./components/practice',{practices:practices}) -%>
<%- include('./components/recruit',{recruit:recruit}) -%>
<%- include('./components/serve') -%>
<div class="homePage">
</div>
<%- include('./components/footer') %> 
<%- include('./components/consult') %> 
